#deleteModal {
    text-align: center;
}

.Btn {
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    width: 150px;
    margin: 15px;
}

.yes {
    background-color: rgb(255, 0, 0);
}

.no {
    background-color: rgb(131, 131, 131);
}