#spots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 90px;
  text-align: center;
  gap: 30px;
}

#spotsBox {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 20px 20px 20px rgb(0, 0, 0);
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.link:hover {
  color: rgb(255, 0, 0);
}

#spotsImage {
  height: 200px;
  border-radius: 10px;
}
